<form [formGroup]="formulario" >
  <div class="contenedor">
    <div class="botones">
      <div class="arriba">
        <label for="tentacles">Cantidad de niveles:</label>
        <input 
        type="number" 
        id="tentacles" 
        name="tentacles" 
        min="1" max="100"
        formControlName="nivel">
  
        <label for="tentacles">Cantidad de repeticiones:</label>
        <input type="number" id="tentacles" name="tentacles" min="1" max="100">
  
        <button mat-raised-button 
        color="primary"
        class="btn"
        type="submit" [disabled]="formulario.invalid">Agregar</button>
      </div>
  
      <div class="valores">
        <mat-form-field class="valor" appearance="fill">
          <mat-label for="Valor-1">Valor 1</mat-label>
          <input 
          matInput 
          id="Valor-1" 
          autocomplete="off" 
          required>
        </mat-form-field>
  
        <mat-form-field class="valor" appearance="fill">
          <mat-label>Valor 2</mat-label>
          <input matInput value="" autocomplete="off" required>
        </mat-form-field>
  
        <mat-form-field class="valor" appearance="fill">
          <mat-label>Valor 3</mat-label>
          <input matInput value="" autocomplete="off" required>
        </mat-form-field>
  
        <mat-form-field class="valor" appearance="fill">
          <mat-label>Valor 4</mat-label>
          <input 
          matInput 
          value="" 
          autocomplete="off" 
          required
          [class.advertencia]="formulario.get('valor3')?.invalid && formulario.get('valor3')?.touched">
        </mat-form-field>
      </div>
    </div>
  
    <div class="imprimir">
      <mat-tree [dataSource]="datos" [treeControl]="control">
   
        <mat-tree-node *matTreeNodeFef="let node" matTreeNodeToggle>
          {{node.name}}
        </mat-tree-node>
  
        <mat-nested-tree-node *matTreeNodeFef="let node; when : hasNestedChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
  
              <mat-icon>
                {{ control.isExpanded(node)? "expand_more":"chevron_right"}}
              </mat-icon>
  
            </button>
              {{node.name}}
  
          </div>
  <div class="nested-mode" [class.example-tree-invisible]="!control.isExpanded(node)">
    <ng-container matTreeNodeOutlet></ng-container>
  </div>
     
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</form>