.contenedor{
  padding: 2%;
}
.botones{
  text-align: center;
}
.btn{
  border: 2px solid white;
}
.arriba{
  margin: 3%;
}

input{
  margin: 0% 2%;
}
.valor{
  display: inline-block;
  margin: 3% 4%;
  width: 30%;
}

.imprimir{
  border-radius: 15px;
  border: 2px solid black;
  width: 80%;
  margin: 1% 10%;
  height: 35vh;
  background-color: rgb(255, 255, 255,0.3);
  padding: 2%;
}