/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
